.dataBeers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    margin-top: 10px;
    min-height: 400px;
    padding: 10px;
    font-family: cursive;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 420px;
    max-height: 260px;
    background-color: rgba(201, 156, 121, 0.116);
}

.box .info {
    display: inline-block;
    width: 320px;
    text-shadow: 3px 3px rgb(0, 0, 0);
    overflow:hidden;
}

.box .info strong{
    color: rgb(255, 179, 80);
}

.box .info span{
    color: rgb(255, 255, 255);
}

.box img {
    height: 250px;
    width: 100px;
    margin-left: 5px;
}

